@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#page-container {

    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

input.search-bar, textarea { 

    background: white; 
    font-size: 1rem;
    padding: 10px 0px 10px 5px;
    border-radius: 0px;
    border-style: solid;
    border-color: white;
    width: 1000px;
    margin: 30px 0px 0px 0px;

} 

#next-button {

    font-size: 1rem;
    background: white; 
    border-color: white;
    border-style: solid;
    padding: 10px 7px;
    transition-duration: 0.2s;

}

#next-button:hover {

    border-color: #971B2F;
    background-color: #971B2F;
    color: white;
    transform: scale(1.05)

}

#menu {
    
    /* border: 2px solid black; */

    margin: 30px 0px 0px 0px;
    width: 90%;
    height: 100%;

}

.food-type-container {

    /* border: 2px solid blue; */

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 320px;
    margin: 20px 0px 0px 0px;

}

.food-type-title {

    /* border: 2px solid green; */

    font-size: 1.4rem;
    font-weight: bold;
    width: 85%;

}

.food-option-list {

    /* border: 2px solid red; */

    margin: 10px 0px 0px 0px;
    width: 90%;
    height: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat();
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    overflow-y: scroll;
    padding: 20px;

}

.food-option {

    width: 200px;
    height: 60px;
    overflow-y: scroll;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    transition-duration: 0.2s;
    padding: 10px 0px 0px 0px;

}

.food-option:hover {

    background-color: #971B2F;
    transform: scale(1.05);

}

.order-item-added {

    border: 2px solid black;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 400px;
    height: 50px;
    background-color: white;
    border-color: #971B2F;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
    transition-duration: 0.5s;
    opacity: 0;

}

.order-item-added-tag {

    opacity: 1;

}