
#location-container {
    padding: 10px;
}

#location-text {
    width: 78%;
    min-width: 500px;
    height: 40px;
    margin-bottom: 0px;
    padding-left: 10px;
}

#map-container {
    display: grid;
    grid-template-columns: 80% auto;
    min-width: 800px; /* Must be equal to location-list-container min-width + map min-width */
    height: 400px;
    margin-top: 0px;
    padding-left: 0px;
}
#map {
    margin-left: 0px;
    min-width: 500px;
}

#location-list-container {
    width: 300px;
}

#location-list {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

.location {
    height: 50px;
    line-height: 50px;
    list-style: none;
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid black;
}
.location:hover {
    background-color: black;
    color: white;
}

#mission-statement-title {
    padding-bottom: 0px;
}

#overview {
    display: grid;
    grid-template-columns: 60% auto;
}