.main {
    overflow-y: scroll;
}

#menu-wrapper {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 750px;
    overflow-x: scroll;
}

#meal-container {
    width: auto;
    height: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.meal {
    margin: 10px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    height: auto;
    align-items: center;
    line-height: 25px; /* must match border radius */
    background-color: white;
}

.meal:hover {
    background-color: rgb(102, 179, 209);
}

.meal-button {

    height: auto;
    border: none;
    background-color: transparent;
    text-align: center;
}

#dining-hall-container {
    width: auto;
    height: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.dining-hall {
    border: 2px solid black;
    line-height: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    line-height: 25px; /* must match border radius */
    background-color: white;
}

.dining-hall:hover {
    background-color: rgb(102, 179, 209);
}

.dining-hall-button {
    height: auto;
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
}

#search-bar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#search-bar {
    width: auto;
    height: 40px;
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.food-type-container {
    margin-bottom: 30px;
    width: auto;

}

.food-type {
    text-align: left;
    font-weight: bold;
}

.food-option-list {
    width: auto; /* matches with inverse of search-bar-plus-map */
    height: auto;
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    list-style: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.food-option {
    height: 40px;
    width: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    background-color: white;
}

.food-option:hover {
    background-color: rgb(102, 179, 209);
}

.food-button {
    height: auto;
    border: none;
    background-color: transparent;
    text-align: center;
}

.dining-hall-title { /* added for menu clarity, can be changed or removed */
    font-size: 30px;
    font-weight: bold;
    width: auto;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 40px;
    text-align: center;
}

.meal-title { /* added for menu clarity, can be changed or removed */
    font-size: 20px;
    font-weight: bold;
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}