/* CSS that applies to all pages */

html, body {
    margin:0;
    padding:0;
}

.topbar {
    overflow-x: hidden;
    height: 40px;
    background-color: rgb(161, 51, 51);
    margin: auto;
    padding: 10px;
}

.sidebar {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    width: 150px; /*this must stay at least the same width as the sidebar*/
    margin: 0px;
    padding: 10px;
    border: 0px;
    background-color: rgb(202, 67, 67);
    align-items: center;
}
  
.main {
    margin-left: 150px; /*this must stay at least the same width as the sidebar*/
    width: fill;
    padding: 30px;
    border: 1px;
    background-color: rgb(242, 242, 242);
    
}

.site-nav-bar-link {
    margin-top: 6px;
    width: 100%;
    height: 60px; /* must be the same as line-height*/
    line-height: 60px;
    border: 10px;
    color:rgb(242, 242, 242);
    align-items: center;
    font-size: large;
    text-align: center;
    border: 1px solid;
}
.site-nav-bar-link:hover {
    height: 65px; /* must be the same as line-height*/
    line-height: 65px;
    border: 10px;
    align-items: center;
    font-size: large;
    text-align: center;
    border: 1px solid;
    z-index: 1;
    background-color: rgb(161, 51, 51);
}