/* CSS that applies to all pages */

/* Reset browser default CSS */
html, body {
    margin:0;
    padding:0;
    min-width: 1000;
    min-height: 420;
    overflow: scroll;
}

/* Top Bar */

.topbar {
    height: 40px;
    min-width: 1000px; 
    background-color: rgb(161, 51, 51);
    padding: 10px;
    /* border: 2px solid green; */
    z-index: 2147483647;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    top: 0;
}

#backBtn {
    /* positioning */
    margin: 0;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    left: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    height: 35px;
    /* styling */
    background-color: rgb(161, 51, 51);
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    
}

#backBtn:hover {
    background-color: rgb(202, 67, 67);
}


/* Side Bar */

.sidebar {
    min-height: calc(420px - 60px);
    height: calc(100vh - 60px); /* matches with main */
    width: 165px; /* matches with inverse of main */
    min-width: 165px;
    margin: 0px;
    border: 0px;
    background-color: rgb(202, 67, 67);
    align-items: center;
    overflow-y: scroll;
}

.site-nav-bar-links {

    /* border: 2px solid blue; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px;
    font-family: "Verdana", sans-serif;

}

/* remove link underline */
a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}

.site-nav-bar-link {
    color:rgb(242, 242, 242);
    align-items: center;
    font-size: large;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    padding: 22px 10px;
    margin: 10px 10px;
    transition-duration: 0.3s;
}

.site-nav-bar-link:hover {
    background-color: rgb(161, 51, 51);
    transform: scale(1.04);
}
  
/* Main Page */

.main {

    /* border: 2px solid black; */
    height: calc(100vh - 60px); /* matches with sidebar */
    min-height: calc(420px - 60px);
    width: calc(100vw - 165px); /* matches with inverse of sidebar */
    min-width: calc(1000px - 145px);
    background-color: rgb(242, 242, 242);

}

/* Adjusting Main and Sidebar to be next to each other */

.sidebar-plus-main {

    display: flex;
    flex-direction: row;

}

.test {
    border: 1px solid black;
}

/* Token */

.token-container {
    position: absolute;
    top: 14px;
    right: 12px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    background-image: radial-gradient( circle farthest-corner at 17.1% 22.8%,  rgba(226,24,24,1) 0%, rgba(160,6,6,1) 90% );
}

.token-balance {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-left: 5px; 
}

#sidebar-toggle {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size:40px;
    color:#FFFFFF;
}

#deliverer-link {
    padding: 2.5px;
    font-size: 33.4px;
}