/* Location Selection */

#location-selection {

    /* border: 2px solid black; */
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#search-bar-plus-map {

    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: calc(100% - 350px); /* matches with inverse dining-hall-selection width */
    height: auto;
    margin: 0px 40px 0px 0px

}

#search-bar-text {

    width: calc(100% - 151px);
    height: 40px;
    padding: 0px 0px 0px 10px;
    margin: 30px 0px 0px 40px;

}

#nextBtn {
    width: 90px;
    height: 40px;
}

#map {

    width: calc(100% - 40px);
    height: 100%;
    border: 2px solid green;
    margin: 20px 0px 40px 40px;

}

#dining-hall-selection {

    /* border: 2px solid blue; */
    width: 350px; /* matches with inverse of search-bar-plus-map */
    height: calc(100%-40px);
    margin: 20px 0px 40px 10px;
    overflow-y: scroll;

}

#location-list {
    height: auto;
    margin: 0px 25px 0px 0px;
    padding: 5px;
    text-align: center;
    list-style: none;
}

.location {

    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 30px 0px 0px 0px;
    margin: 13px 0px;

}
.location:hover {
    background-color: black;
    color: white;
}
