#page-wrapper {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.searchbar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.searchbar {
    width: auto;
    height: 35px;
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
}

.searchbar-text {
    font-weight: bold;
}

#order-wrapper {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

#order-text {
    font-weight: bold;
}

#orders {
    border: 1px solid black;
    height: auto;
}

#order-list-header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.order-header {
    height: 35px;
    background-color: gray;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;

}

.order-list {
    width: auto; /* matches with inverse of search-bar-plus-map */
    height: auto;
    max-height: 450px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    list-style: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.order {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: white;
}

.order:hover {
    background-color: rgb(102, 179, 209);
}

.order-info {
    height: 35px;
    background-color: transparent;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}

.food-option {
    height: 40px;
    width: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}

.food-option:hover {
    background-color: rgb(102, 179, 209);
}

.food-button {
    height: auto;
    border: none;
    background-color: transparent;
    text-align: center;
}